# ignore local configuration
/application/configs/application.ini

# ignore data directories
/data/cache
/data/logs
/data/lucene
/data/sql-dumps
/data/uploads
/data/ncbi
/data/ppod
/data/session

# ignore error files
/error_log

# ignore dev files
/nbproject/private/


