* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 0.9em;
}

#viewport {
    min-width: 780px;
    max-width: 1144px;
    margin: 0 auto;
}

#header {
    height: 50px;
    background-color: #ffffcc;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
    height: 70px;
    line-height: 70px;
    background: url("images/header_bg.jpg") repeat-x scroll 0 0 #000033;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #333;
}

#header a img {
    border: none;
}

#top-nav {
    margin-bottom: 10px;
}

#menu {
    clear: both;
    padding-bottom: 1em;
    margin: 5px 5px 5px 5px;
}

#content {
    clear: both;
}

#footer {
    margin-top: 2em;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
    clear: both;
}

h1 {
    margin-bottom: 0.25em;
}

h2 {
    margin-bottom: 0.25em;
}

ul {
    margin-left: 1.25em;
}

.clear {
    clear: both;
}

ul.errors {
    color: red;
}

a {
    /* color: #0645AD; wikipedia blue */
    color: #0645AD;
    text-decoration: none;
}
a:hover {
    /* color: #cc33aa; */
    color: #0645AD;
    text-decoration: underline;
}

a.remove {
    background: url("images/negative.png") no-repeat scroll 0pt 50% transparent;
    padding-left: 20px;
}

.loading-large {
    background: url("images/ajax.gif") no-repeat scroll 0pt 50% transparent;
    padding-left: 170px;
    min-height: 30px;
    color: gray;
}

.loading-small {
    background: url("images/ajax-small.gif") no-repeat scroll 0pt 50% transparent;
    padding-left: 20px;
    min-height: 30px;
    color: gray;
}


.dataTable {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 90%;
}
.dataTable th {
    text-align: left;
    background-color: #f5f9fc; /* #ffffee; */
    border: 1px solid black;
    padding: 0.20em;
    padding-left: 0.40em;
    padding-right: 0.40em;
    white-space: nowrap;
}
.dataTable td {
	padding: 0.20em;
	padding-left: 0.40em;
	padding-right: 0.40em;
	border: 1px solid gray;
	vertical-align: top;
}


.verticalTable {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 90%;
}
.verticalTable th {
  text-align: right;
  vertical-align: top;
  background-color: #f5f9fc;  /* #F6FAFA; */
  border: 1px solid black;
  padding: 0.20em;
  padding-left: 0.40em;
  padding-right: 0.40em;
  white-space: nowrap;
}
.verticalTable td {
	padding: 0.20em;
	padding-left: 0.40em;
	padding-right: 0.40em;
	border: 1px solid gray;
	vertical-align: top;
}

.sidepane {
    width: 400px;
    float: right;
    clear: right;
    margin-bottom: 1em;
}
.sidepane-header {
    height: 30px;
    line-height: 30px;
    background: url("images/panel_header.png") no-repeat;
    padding-left: 30px;
    color: white;
    font-weight: bold;
}
.sidepane-bottom {
    background-color: white;
    margin-left: 16px;
    border: 1px solid black;
    border-top: 0px;
    padding: 10px;
}


.leftSidebar {
    position: relative;
    float: left;
    width: 200px;
}
.block {
    margin-bottom: 1em;
}
.blockTitle {
    padding: 4px 8px;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    padding-left: 10px;
    background: url("images/header_bg.jpg") repeat-x scroll 0 0 #000033;
}
.blockContent {
    background-color: white;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 10px;
}


.toggle-image {
    width: 15px;
    height: 20px;
}
.expand {
    background-image: url("images/expand.png");
}
.collapse {
    background-image: url("images/collapse.png");
}



h2.region {
    border: 1px solid black;
    padding: 4px;
    font-size: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: #1c75b1;
}


div.collapsable h2.collapsed {
    background: url("images/collapse.png") 4px 4px no-repeat #1c75b1;
    padding-left: 30px;
}
div.collapsable h2.expanded {
    background: url("images/expand.png") 4px 4px no-repeat #1c75b1;
    padding-left: 30px;
}

div.collapsed .content {
    display: none;
}



fieldset {
    border-width:2px;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-right: 1em;

    padding: 0.75em;
}
fieldset legend {
    font-size: 1.25em;
    color: black;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

label {
    font-weight: normal;
}



.formTable {
    border: 0;
}
.formTable th, .formTable td {
    vertical-align: top;
    padding-right: 4px;
    font-weight: normal;
}
.formTable th {
    text-align: right;
}

input.radio {
    margin-right: 4px;
}



.pagination {
    padding: 0.5em 0;
}
.pagination a, .pagination .currentPage, .pagination .noBorder {
    border: 1px solid #333;
    color: #333;
    position: relative;
    float: left;
    display: block;
    margin: 0 5px 0 0;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
}
.pagination a:hover {
    color: white;
    background-color: #287BBF;
}
.pagination .currentPage {
    color: black;
    border: 0 none;
    font-weight: bold;
    font-size: 1.15em;
}
.pagination .noBorder {
    border: 0 none;
}




.resultCount {
    color: #999;
}




div.details p {
   margin-bottom: 0.5em;
}


.comments {
    margin-top: 1em;
}
.comments .comment-header {

}
.comment-pending {
    color: gray;
}
.comment-pending .comment-header {
    color: gray;
}
.comment-pending .pending-message {
}


hr.separator {
    border-style: none;
    border-top: 1px solid #CCC;
}

dl dt {
    margin-top: 0.5em;
}

a.add {
    background: url('images/add.png') 0 50% no-repeat;
    padding-left: 20px;
}


table.listing {
    border-collapse: collapse;
}
table.listing td {
    vertical-align: top;
    border-bottom: 1px solid #999;
    padding: 8px 0 16px 0;
}
table.listing td.actionCell {
    width: 4em;
    text-align: center;
}




ul.tabs {
    text-align: left;
    margin: 1em 0 1em 0; 
    border-bottom: 1px solid #999;
    list-style-type: none;
    padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}
ul.tabs li {
    display: inline;
}
ul.tabs li a {
    padding: 3px 4px; /* FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #999;
    background-color: #eee;
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
}
ul.tabs li a:hover {
    background: #fff;
}
ul.tabs li.selected {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
ul.tabs li.selected a {
    background-color: #fff;
    color: #000;
    position: relative;
    top: 1px;
    padding-top: 4px; /* must change with respect to padding (X) above and below */
}


a.rss {
    background: url(images/feed.png) 0 50% no-repeat;
    padding-left: 20px;
}

.clear { 
    clear: both;
}


.button {
  display:inline-block;
  background:none;
  margin:0;
  padding:3px 0;
  border-width:0;
  overflow:visible;
  font:100%/1.2 Arial,Sans-serif;
  text-decoration:none;
  color:#333;
  height: 1.25em;
  }
* html button.button {
  padding-bottom:1px;
  }
/* Immediately below is a temporary hack to serve the
   following margin values only to Gecko browsers
   Gecko browsers add an extra 3px of left/right
   padding to button elements which can't be overriden.
   Thus, we use -3px of left/right margin to overcome this. */
html:not([lang*=""]) button.button {
  margin:0 -3px;
  }
.button span {
  background:#ddd url(images/bg-button.gif) repeat-x 0 0;
  margin:0;
  padding:3px 0;
  border-left:1px solid #bbb;
  border-right:1px solid #aaa;
  }
* html .button span {
  padding-top:0;
  }
.button span span {
  position:relative;
  padding:3px .4em;
  border-width:0;
  border-top:1px solid #bbb;
  border-bottom:1px solid #aaa;
  color: #333;
  }


/* only needed if implementing separate hover/focus/active state for buttons */
.button:hover span, .button:hover span span, .button:focus span, .button:focus span span {
  cursor:pointer; /* important for any clickable/pressable element */
  border-color:#666 !important;
  color:#333;
  }
.button:active span {
  outline:none;
  }
.button:focus, .button:active {
  outline:none; /* doesn't seem to be respected for <button>, only <a> */
  }

/* use if one button should be the 'primary' button */
.primary {
  font-weight:bold;
  color:#000;
  }

  
  #top-bar {
    margin: 0 auto;
    width: 960px;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

#global-crumb {
    float: left;
}

#user-menu {
    float: right;
}

#viewport {
    width: 960px;
}


#masthead {
    width: 960px;
    margin: 0 auto;
    height: 60px;
}

#header {
    border-bottom: 1px solid #000;
    border-top: 1px solid #666;
}

#header-text {
    padding-top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: serif;
}

#header-text a {
    color: white;
}

#header-text a:hover {
    text-decoration: none;
}

#header-logo {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

ul.sponsors-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
ul.sponsors-list li { display: inline; }
ul.sponsors-list li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}
ul.sponsors-list li a:hover {
    color: #fff;
    background-color: #369;
}

#header .sponsor {
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
}

#header .become-sponsor {
    display: inline;
    border: 1px solid black;
    height: 50px;
    width: 200px;
    background-color: white;
    margin-top: 10px;
}

#menu {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 1em;
}

#content {
    margin: 0 auto;
    width: 960px;
}

.search-input {
    height: 1.25em;
    padding: 2px;
}

#footer {
    width: 960px;
    margin: 2em auto;
    padding: 1em 0;
    background-color: #ddd;
    border: 1px solid #999;
    color: #666;
}