* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
}

#viewport {
    width: 960px;
    margin: 0 auto;
}

#header {
    height: 50px;
    width: auto;
    border: 1px solid black;
    background-color: #ffffcc;
    line-height: 50px;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;

    border: 0px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: white;
    background: url("images/header_bg.jpg") repeat-x scroll 0 0 #000033
}

#header a {
    color: white;
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#header a img {
    border: none;
}

#top-nav {
    margin-bottom: 10px;
}


#top-bar { 
    vertical-align: middle; 
    padding: 0px 10px; 
    position: relative;
    height: 2em;
    line-height: 2em;
}
#top-bar a { 
    text-decoration: underline; 
}
#top-bar #global-crumb {
    position: relative;
    float: left;
}
#top-bar #user-menu {
    position:relative;
    float: right;
}


#menu {
    clear: both;
    padding-bottom: 1em;
    margin: 5px 5px 5px 5px;
}

#content {
    clear: both;
}

#footer {
    text-align:center;
     border-top: 1px solid #999999;
    color: #333;
    margin-top: 1em;
    padding: 10px 0;
    clear: both;
}

h1 {
    font-size: 22px;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 18px;
    margin-bottom: 0.25em;
}

ul {
    margin-left: 1.25em;
}

.clear {
    clear: both;
}

ul.errors {
    color: red;
}

a {
    color: #3333ff;
}
a:hover {
    color: #ff33ff;
}

a.remove {
    background: url("images/negative.png") no-repeat scroll 0pt 50% transparent;
    padding-left: 20px;
}

.loading-large {
    background: url("images/ajax.gif") no-repeat scroll 0pt 50% transparent;
    padding-left: 170px;
    min-height: 30px;
    color: gray;
}

.loading-small {
    background: url("images/ajax-small.gif") no-repeat scroll 0pt 50% transparent;
    padding-left: 20px;
    min-height: 30px;
    color: gray;
}


.dataTable {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 90%;
}
.dataTable th {
    text-align: left;
    background-color: #f5f9fc; /* #ffffee; */
    border: 1px solid black;
    padding: 0.20em;
    padding-left: 0.40em;
    padding-right: 0.40em;
    white-space: nowrap;
}
.dataTable td {
	padding: 0.20em;
	padding-left: 0.40em;
	padding-right: 0.40em;
	border: 1px solid gray;
	vertical-align: top;
}


.verticalTable {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 90%;
}
.verticalTable th {
  text-align: right;
  vertical-align: top;
  background-color: #f5f9fc;  /* #F6FAFA; */
  border: 1px solid black;
  padding: 0.20em;
  padding-left: 0.40em;
  padding-right: 0.40em;
  white-space: nowrap;
}
.verticalTable td {
	padding: 0.20em;
	padding-left: 0.40em;
	padding-right: 0.40em;
	border: 1px solid gray;
	vertical-align: top;
}

.sidepane {
    width: 300px;
    float: right;
    clear: right;
    margin-bottom: 1em;
}
.sidepane-header {
    height: 30px;
    line-height: 30px;
    background: url("images/panel_header.png") no-repeat;
    padding-left: 30px;
    color: white;
    font-weight: bold;
}
.sidepane-bottom {
    background-color: white;
    margin-left: 16px;
    border: 1px solid black;
    border-top: 0px;
    padding: 10px;
}

.leftpane {
    float: left;
    margin-bottom: 1em;
}
.leftpane-header {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background: url("images/header_bg.png") repeat-x;
    color: white;
    font-weight: bold;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding-left: 10px;
}
.leftpane-bottom {
    background-color: white;
    border: 1px solid black;
    border-top: 0px;
    padding: 10px;
}


.toggle-image {
    width: 15px;
    height: 20px;
}
.expand {
    background-image: url("images/expand.png");
}
.collapse {
    background-image: url("images/collapse.png");
}



h2.region {
    border: 1px solid black;
    padding: 4px;
    font-size: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: #1c75b1;
}


div.collapsable h2.collapsed {
    background: url("images/collapse.png") 4px 4px no-repeat #1c75b1;
    padding-left: 30px;
}
div.collapsable h2.expanded {
    background: url("images/expand.png") 4px 4px no-repeat #1c75b1;
    padding-left: 30px;
}

div.collapsed .content {
    display: none;
}



fieldset {
    border-width:2px;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-right: 1em;

    padding: 0.75em;
}
fieldset legend {
    font-size: 1.25em;
    color: black;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

label {
    font-weight: normal;
}



a, a:hover, a:visited {
    color: #053D99;
}

.formTable {
    border: 0;
}
.formTable th, .formTable td {
    vertical-align: top;
    padding-right: 4px;
    font-weight: normal;
}
.formTable th {
    text-align: right;
}

input.radio {
    margin-right: 4px;
}



.sidepane-export {
    border: 1px solid black;
    padding: 4px;
    background-color: #f5f9fc;
    width: 300px;
}

h1 a.action {
    color: #cccccc;
    text-decoration: none;
}
h1 a.action:hover {
    color: blue;
    text-decoration: underline;
}

.grayed-anchor, .grayed-anchor:visited {
   color: #666666;
   text-decoration: none;
}
.grayed-anchor:hover {
   color: blue;
   text-decoration: underline;
}



div.details p {
   margin-bottom: 0.5em;
}


.comments {
    margin-top: 1em;
}
.comments .comment-header {

}

.comment-pending {
    color: gray;
}
.comment-pending .comment-header {
    color: gray;
}

.comment-pending .pending-message {
}

hr.separator {
    border-style: none;
    border-top: 1px solid #CCC;
}

dl dt {
    margin-top: 0.5em;
}

a.add {
    background: url('images/add.png') 0 50% no-repeat;
    padding-left: 20px;
}

ul.tabs {
    text-align: left;
    margin: 1em 0 1em 0; 
    border-bottom: 1px solid #999;
    list-style-type: none;
    padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul.tabs li {
    display: inline;
}

ul.tabs li a {
    padding: 3px 4px; /* FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #999;
    background-color: #eee;
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
}

ul.tabs li a:hover {
    background: #fff;
}

ul.tabs li.selected {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

ul.tabs li.selected a {
    background-color: #fff;
    color: #000;
    position: relative;
    top: 1px;
    padding-top: 4px; /* must change with respect to padding (X) above and below */
}

a.rss {
    background: url(images/feed.png) 0 50% no-repeat;
    padding-left: 20px;
}




.leftSidebar {
    position: relative;
    float: left;
    width: 200px;
}
.block {
    margin-bottom: 1em;
}
.blockTitle {
    padding: 4px 8px;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    padding-left: 10px;
    background: url("images/header_bg.jpg") repeat-x scroll 0 0 #000033;
}
.blockContent {
    background-color: white;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 10px;
}

.pagination {
    padding: 0.5em 0;
}
.pagination a, .pagination .currentPage, .pagination .noBorder {
    border: 1px solid #333;
    color: #333;
    position: relative;
    float: left;
    display: block;
    margin: 0 5px 0 0;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
}
.pagination a:hover {
    color: white;
    background-color: #287BBF;
}
.pagination .currentPage {
    color: black;
    border: 0 none;
    font-weight: bold;
    font-size: 1.15em;
}
.pagination .noBorder {
    border: 0 none;
}

.resultCount {
    color: #999;
}


table.listing {
    border-collapse: collapse;
}
table.listing td {
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    padding: 8px 0 16px 0;
}
table.listing td.actionCell {
    width: 4em;
    text-align: center;
}


